.pod-list-title {
    font-size: 18px;
    border-bottom: 1px solid #eee;
    color: #888;
    font-weight: 300;
    font-style: italic;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px
}
.pod-list-title:first-child {
    margin-top: 0px
}
.pod-list+.read-more-link {
    margin-top: 20px
}
.pod-list li {
    position: relative;
    margin: 0 0 20px;
    list-style: none;
    padding: 0px;
    border: 1px solid #eee;
    border-radius: 3px;
    text-align: center;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}
.pod-list li .pod-token {
    color: #fff
}
.pod-list li:hover {
    border-color: #ccc
}
.pod-list li.recipes:hover {
    border-color: #da5347
}
.pod-list li.recipes .pod-token {
    background: #da5347
}
.pod-list li.snippets:hover {
    border-color: #75ba50
}
.pod-list li.snippets .pod-token {
    background: #75ba50
}
.pod-list li.blog:hover {
    border-color: #ffcf50
}
.pod-list li.blog .pod-token {
    background: #ffcf50
}
.pod-list li.packages:hover {
    border-color: #1b9edb
}
.pod-list li.packages .pod-token {
    background: #1b9edb
}
.pod-list li.tools:hover {
    border-color: #ed914c
}
.pod-list li.tools .pod-token {
    background: #ed914c
}
.pod-list li.talks:hover {
    border-color: #7b7991
}
.pod-list li.talks .pod-token {
    background: #7b7991
}
.pod-list .pod-content-wrap {
    width: 100%;
    position: relative;
    overflow: hidden
}
.pod-list .new .pod-content-wrap:after {
    position: absolute;
    top: 5px;
    left: -28px;
    background: #eee;
    color: #888;
    padding: 3px 0;
    width: 100px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    content: "New";
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}
.pod-list .new:hover .pod-content-wrap:after {
    color: #fff
}
.pod-list .new:hover.recipes .pod-content-wrap:after {
    background: #da5347
}
.pod-list .new:hover.snippets .pod-content-wrap:after {
    background: #75ba50
}
.pod-list .new:hover.blog .pod-content-wrap:after {
    background: #ffcf50
}
.pod-list .pod-link {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1
}
.pod-list li .pod-content {
    padding: 25px
}
.pod-list li.new .pod-content {
    position: relative;
    overflow: hidden
}
.pod-list .pod-token {
    display: inline-block;
    background: #eee;
    padding: 4px 16px;
    margin-top: 15px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #666;
    border-radius: 30px;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}
.pod-list .pod-date {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 500;
    color: #888
}
.pod-list .pod-title {
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    color: #444
}
.pod-list .pod-subtitle {
    margin-top: 10px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    color: #888
}
.pod-list .pod-author {
    margin-top: 3px;
    color: #aaa
}
@media (min-width: 768px) {
    .pod-list-title {
        font-size: 22px;
        padding-bottom: 15px;
        margin-top: 30px;
        margin-bottom: 30px
    }
    .pod-list {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: -15px -15px 0
    }
    .pod-list+.read-more-link {
        margin-top: 30px
    }
    .pod-list li {
        display: -webkit-flex;
        display: flex;
        -webkit-flex: 1 0 auto;
        flex: 1 0 auto;
        margin: 15px;
        width: calc(50% - 30px);
        max-width: calc(50% - 30px)
    }
    .pod-list.home li:nth-child(3) {
        width: calc(100% - 30px);
        max-width: calc(100% - 30px)
    }
    .pod-list .pod-content-wrap {
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center
    }
    .pod-list .pod-content {
        display: block;
        width: 100%
    }
}
@media (min-width: 940px) {
    .pod-list li,
    .pod-list.home li:nth-child(3) {
        -webkit-flex: 1 0 auto;
        flex: 1 0 auto;
        width: calc(33.3% - 30px);
        max-width: calc(33.3% - 30px)
    }
    .pod-list li:nth-child(3n+1):nth-last-child(-n+3),
    .pod-list li:nth-child(3n+1):nth-last-child(-n+3) ~ li {
        margin-bottom: 0px
    }
}
