@import "base/fonts";
@import "base/extends";
@import "base/animations";
@import "base/forms";
@import "base/tables";
@import "base/lists";
@import "base/alerts";
@import "base/modals";

@import "module/loading";
@import "module/login";
@import "module/signup";
@import "module/toggle-switch";

@import "state/navbar";
@import "state/button";
@import "state/column";


.JobPane {

    overflow: auto !important;
    bottom: 0 !important;
    position: absolute !important;
    background-color: #fff !important;
    border-left: 1px #e1e4e8 solid !important;
    border-bottom: 1px #e1e4e8 solid !important;

    top: -20px;
    right: -20px;
    z-index: 40;
    width: 360px;
    white-space: normal;
    background-clip: padding-box;
    -webkit-animation: show-pane 0.2s cubic-bezier(0, 0, 0, 1);
    animation: show-pane 0.2s cubic-bezier(0, 0, 0, 1);
}
