@font-face {
    font-family: "Proxima Nova Soft";
    src: url('/proxima-nova-soft-normal-webfont.ttf');
}

* {
  font-family: "Proxima Nova Soft", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

.page-header {
  padding-bottom: 9px;
  margin: 20px 0 20px!important;
  border-bottom: 1px solid #eee;
}
